

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.home{
  height: auto;
  width: 100%;
  /* border: 1px solid; */
}
.img{
  /* margin-top:20PX ; */
  height: 550px;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
    border-radius: 20px;
  position: relative; /* Set position relative to enable absolute positioning */
    width: 200px; /* Set width of container */
    height: 300px; /* Set height of container */
    gap: 10px;
    background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e570738029a725e686_Furniture-min.png'); /* Set the background image */
    background-size: cover; /* Cover the entire container with the background image */
    color: blanchedalmond;
    background-position: center;
}
.box>h3{
  text-align: center;
}

.box2{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e52d6553668075697e_hand%20bag-min.png'); /* Set the background image */

 
}
.box3{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e460afc22b7ea53520_books-min.png')
}
.box4{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e754ac2e32897cb53b_tech-min.png');
}
.box5{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e64b769118272f244f_sneakers-min.png');
}
.box6{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e71eb4ad6d07e7568f_travel-min.png');
}


.boxes{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 10px;
 
}
.category{
  margin: 10px;
}
.category>h2{
    font-weight: bold;
    /* margin-left: 30px; */
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
   
   
}

.product>h2{
  font-weight: bold;
  /* margin-left: 30px; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
 
 
}

.card{
  height: 390px;
  width: 300px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 1px solid; */
}
.card>img{
  height: 200px;
  width: 200px;
margin-top: 10px;
}
.card>img:hover{

  transform: scale(1.1);
}


.card>p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.main-box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  /* background-color: azure; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn1{
  padding: 10px;
  border-radius: 20px;
  color: black;
  background-color: limegreen;
  border: none;
  font-weight: bold;
}
.btn1:hover{
  cursor: pointer;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,225,255,0.4075464414281338) 100%);
}



.Brand>h2{
  font-weight: bold;
  /* margin-left: 30px; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 60px;
 
 
}

.bbox{
  display: flex;
  /* height: 200px; */
  /* width: 300px; */
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 4px;
}
.bbox>div{

display: flex;
flex-direction: column;
gap: 5px;

}

.bbox>div>h2{
  margin-top: 10px;
}

.m-Box{
  margin-top: 20px;
 display: grid;
 grid-template-columns: repeat(4,1fr);


}

.Discount>h2{
  font-weight: bold;
  /* margin-left: 30px; */
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 60px;
 
 
}

.Main-DBox{
  margin-top: 20px;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 10px;
margin-left: 30px;

}




.navbar{
  width: 100%;
  height: fit-content;
  height: 40px;
}

.navbar-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:fixed;
  height: 50px;
  width:100%;
  background-color: grey;
 
}


.hamburger-menu{
  display: none;
  cursor:pointer;
  margin-left: 15px;

}
.bar{
  display: block;
  width:25px;
  height:3px;
  margin:5px;
  transition: all 0.3s ease;
  background-color: black;
}

.nav-link{
  text-decoration-line: none;
  font-family:  'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px solid ;
}

@media screen and (max-width:784px){
  .hamburger-menu{
    position: fixed;
    z-index: 1;
     display:block;
     
  }
    .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
      
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-inner {
     position:fixed;
     flex-direction: column;
      top: -300px;
      height: 250px;
      width: 100vw;
  
    }
    .navbar-inner.active {
      top:0px;
    }

  }






























@media screen and (max-width: 700px) {

  .m-Box{

   display: grid;
   grid-template-columns: repeat(2,1fr);
  
  
  }
  
.boxes{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  margin-left: 80px;
 
}
}

