.home{
  height: auto;
  width: 100%;
  /* border: 1px solid; */
}
.custom-modal-overlay {
  overflow: hidden; /* Prevent scrolling on the modal overlay */
}

.modal-body {
  overflow-y: auto; /* Enable vertical scrolling for modal body */
  max-height: 70vh; /* Limit the maximum height of the modal body */
}

.modal-item-container {
  padding-right: 20px; /* Add padding to account for scrollbar width */
}



.img{
  /* margin-top:20PX ; */
  height: 550px;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-weight: bold; */
}

.box{
    border-radius: 20px;
  position: relative; /* Set position relative to enable absolute positioning */
    width: 200px; /* Set width of container */
    height: 300px; /* Set height of container */
   
    background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e570738029a725e686_Furniture-min.png'); /* Set the background image */
    background-size: cover; /* Cover the entire container with the background image */
    color: blanchedalmond;
    background-position: center;
    transition: transform 0.3s ease;
}
.box>h3{
  text-align: center;
}

.box2{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e52d6553668075697e_hand%20bag-min.png'); /* Set the background image */

 
}
.box3{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e460afc22b7ea53520_books-min.png')
}
.box4{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e754ac2e32897cb53b_tech-min.png');
}
.box5{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e64b769118272f244f_sneakers-min.png');
}
.box6{
  background-image: url('https://assets-global.website-files.com/63e857eaeaf853471d5335ff/63e8c4e71eb4ad6d07e7568f_travel-min.png');
}


.boxes{
  margin-top: 40px;
  display: flex;
  margin-left:10px;
  gap:10px;
  flex-wrap: wrap;
  justify-content: center;

}
.box:hover{
  transform: scale(0.9);
}

.category>h2{
    font-weight: bold;
    /* margin-left: 30px; */
    font-size: large;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
   
}

.product>h2{
  font-weight: bold;
  /* margin-left: 30px; */
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
 
 
}
/* card */
.main-box {
display: flex;
flex-wrap: wrap;
margin-top: 20px;
justify-content: space-around; /* Adjust as needed */
}

.card {
width: 300px; /* Adjust width as needed */

padding: 20px;

border: 1px solid #ccc;
border-radius: 5px;
/* border-radius: 8px; */
text-align: center;
border-radius: 5px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
transition: transform 0.3s ease;

}
.card:hover {
  transform: scale(1.05);
}

.card img {
width: 250px;
height: 200px;
margin: auto;
}

.card h4 {
margin-top: 10px;
font-size: 18px;
}

.card h3 {
margin-top: 10px;
color: #007bff; /* Adjust color as needed */
}

.card p {
margin-top: 10px;
color: #666; /* Adjust color as needed */
}

.card button {
margin-top: 20px;
padding: 10px 20px;
background-color: #007bff; /* Adjust color as needed */
color: #fff; /* Adjust color as needed */
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.card button:hover {
background-color: #0056b3; /* Adjust color as needed */
}

@media (max-width: 768px) {
.main-box {
  justify-content: center;
}

.card {
  width: 60%; /* Adjust width as needed */
}
}

@media screen and (max-width: 900px) {

  .m-Box{

   display: grid;
   grid-template-columns: repeat(2,1fr);

  }

}

.Brand>h2{
  font-size: large;
    margin-top: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.bbox{
  display: flex;
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  border-radius: 20px;
  background-color: #a1eef1;
  transition: transform 0.3s ease;

}

.bbox:hover{
  transform: scale(1.05);
}
.bbox>div{
  margin-left: 10px;
 margin-top: 10px;

}
.m-Box{
 display: grid;
 margin-top: 20px;
 grid-template-columns: repeat(4,1fr);
}

@media screen  and (max-width:700px){
  *{
    font-size:large;
   
  }
  .m-Box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   }
   .tproduct{

    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    
  }
}
@media screen  and (max-width:400px){
  .m-Box{
    display: grid;
    grid-template-columns: repeat(1,1fr);
   }
}

/* discount */
.Discount {
  text-align: center;
}

.Discount h2 {
  margin-top: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  /* margin-bottom: 20px; */
}

.Main-DBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.c-box-1 h1 {
  margin: 0;
  font-size: 24px; /* Adjust size as needed */
  color: #007bff; /* Adjust color as needed */
}

.c-box-1 h1 sup {
  font-size: 14px; /* Adjust size as needed */
  color: #007bff; /* Adjust color as needed */
}


.c-box-1 p {
  margin-top: 10px;
  font-size: 16px; /* Adjust size as needed */
  color: #000000; /* Adjust color as needed */
  line-height: 1.4; /* Adjust line height as needed */
}
.D-box {
  margin-top: 10px;
  width: 250px;
  margin: 20px;
  padding: 20px;
  /* border: 1px solid #ccc; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 8px;
  background-color: #a9a9a9;
  text-align: center;
  transition: transform 0.3s ease;
}
.D-box:hover{
  transform: scale(1.05);
}

.c-box-1 h1 {
  margin: 0;
}

.c-box-1 h1 sup {
  font-size: 12px;
}

.c-box-1 p {
  margin-top: 10px;
  color: #000000;
}

.c-box-2 img {
  width: 470px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .Main-DBox {
    justify-content: center;
  }

  .D-box {
    width: 45%;
  }
}

.popular>h2{

  margin-top: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  text-align: center;

}
  /* .sofa{
    margin-top: 20px;
  } */

/* 
.Sofa-img {
  position: relative;
} */

.sofa img {
  width: 100%;
  height: auto;
}




/* best deal */
.Best-deal>h2{

  font-weight: bold;
  /* margin-left: 30px; */
  text-align: center;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
 
 
}


.cash-back{
margin-top: 40px;
display: flex;
justify-content: space-evenly;
height: auto;
width: 100%;
padding: 20px;
flex-wrap: wrap;
background-color: #ffe6cc;
}
.cash-back h2{
font-size: 50px;
/* color: white; */
}
.cash-back > img{
  width:70vw;
}
.cash-back p{
margin-top: 30px;
/* color:white; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.get-2>img{
margin-top: 40px;
}

.most-sell>h2{
font-weight: bold;
/* margin-left: 30px; */
text-align: center;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 40px;
}

.tre-product h2{
font-weight: bold;
/* margin-left: 30px; */
text-align: center;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 40px;
}

.tproduct{
margin-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 10px;
padding: 20px;


}


.pr-1>img{
width: 620px;
transition: transform 0.3s ease;
}
.pr-1>img:hover {
  transform: scale(0.9);
}
.pr-2>img{
width: 620px;
transition: transform 0.3s ease;
}

.pr-2>img:hover{
  transform: scale(0.9);
  }

.style h3 {
padding: 5px;
color: #333; /* Dark grey color for heading */
font-size: 24px; /* Larger font size */
margin-bottom: 10px; /* Some space below the heading */
}

.style p {
padding-left: 10px;
color: #666; /* Slightly lighter color for paragraph */
font-size: 16px; /* Normal font size */
margin-bottom: 20px; /* More space below the paragraph */
}

.style{
background-color:  #f5f6f6;
}
.style button {
background-color: #0f0f0f; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 29px; /* Rounded corners */
margin-bottom: 10px;
margin-left: 10px;
}

.style button:hover {
background-color: #45a049; /* Darker green on hover */
}
.service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




.ser-box{
display: grid;
margin-top: 20px;
/* grid-template-columns: repeat(3,1fr); */
display: flex;

flex-wrap: wrap;
justify-content: center;
}
.sbox{
background-color: 
#f5f6f6;


width: 300px;
/* border: 1px solid; */
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
margin: 10px;
border-radius: 20px;
/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
transition: transform 0.3s ease;

}
.sbox:hover{
  transform: scale(0.8); 
}


.sbox h2{
font-size: 20px;
padding: 10px;
}
.sbox h3{
font-size: 15px;
padding: 10px;
}

.sbox img{
  transition: transform 0.3s ease;
}
.sbox:hover img {
  transform: scale(0.8);
}

.footer{
/* background-color: #f0dba7; */
margin-top: 60px;
display: grid;
grid-template-columns: repeat(5,1fr);
margin-left:10px;

}

.nav{
height: auto;
width: 300px;
/* border: 1px solid; */
/* margin: 20px; */
}

.navImg {
  display: flex;
  align-items: center;
}
.navImg h1 {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bold;
  color: deepskyblue;
}

.nav-1 h3{

margin-top: 30px;
}
.nav-1 h2{
color: black;
margin-top: 20px;
font-weight: bold;
}
.img-boxe{
margin-top: 10px;
display: grid;
gap: 10px;
grid-template-columns: repeat(4,1fr);
}
.img-boxes{
/* border: 1px solid rgb(235, 235, 235); */
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
display: flex;
justify-content: center;
/* text-align: center; */
align-items:first baseline;
}
.footer h2{
font-size: 20px;
color: black;
font-weight: bold;
}

.footer1 ul {
list-style-type: none;
margin: 0;
padding: 0;

}

.footer1 ul li {
margin: 5px;
transition: color 0.3s;
}
.footer1 ul li a:hover {
color: #00f7ff; /* Yellow color on hover */
}

.footer1{
width: 170px;

}







@media screen  and (max-width:700px){
  .box{

    width: 150px; /* Set width of container */
    height: 200px; 
  }

 .tproduct{

  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10px;
  
}
.ser-box{
  display: grid;
  margin-top: 20px;

  grid-template-columns: repeat(1,1fr);
  gap: 10px;
}
.footer{

  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  margin-left: 20%;
  


}
}
